// Portfolio And Contact Titles

.title {
  @extend %title-col;
  @extend %title;
}

// Tablet Layout

.main {
  @include mq(medium) {
    width: 100%;
    margin: 0;
    display: inline-block
  }
}


// Column Layout

.col-1 {
    margin: 2em 2% 3em 2%;
    text-align: center;
    @include mq(medium) {
      width: 45%;
      margin:  0 2.5% 30px 2.5%;
      padding: 0;
      display: inline-block;
      vertical-align: top;
    }
    @include mq(large) {
      display: inline-block;
      vertical-align: top;
      width: 28.33%;
      margin: em(30px) 2.5% 0 2.5%;
    }
    .title-col {
      @extend %title-col;
    }
    .text-col {
      @extend %title-col;
      color: $text-color;
  }
}





/*
================================
CONTACT PAGE
================================
*/



.contact-page {
  margin: 2em 2% 3em 2%;
  text-align: center;  
  
  .text {
    font-size: em(19px);
    line-height: 1.3em;
    padding: 1em 2.1em;
  } 
  
  .list {
    margin-top: 2em;
    line-height: 2.2em;
  }

  span {
    padding-left: .6em;
    font-weight: $font-weight--bold;
    color: $span-color; 
  }
}

/*
===============================
TUTORIAL PAGE
===============================
*/

.tutorial {
  @include mq(medium) {
    display: inline-block;
    width: 100%;
    margin: 0;
  }
}


.tutorial-text {
  font-size: em(23px);
  line-height: 1.3em;
  padding: 1em;
  text-align: center;
  color: $tutorial-text-color;
}

.aboutMe,
.form,
.youtube {
   width: 98%;
   margin-left:  1%;
   margin-right: 1%;
   margin-top: em(30px);
}

.youtube {
    margin-bottom: 3em;
}


/*
=================================
GALLERY PAGE
=================================
*/
  

.gallery-text {
  padding-bottom: 4em;
}

.gallery-title {
  @extend %title-col;
  @extend %gallery-title;
}

.gallery-image {
  margin: 1em 35% 2em 35%;
  @include mq(medium) {
    width: 15%;
    height: 15%;
    text-align: center;
    margin: em(30px) 42.5%;
  }
}


 
