// =================================
// Placeholders
// =================================


// Navigation Buttons

%btn {
    display: inline-block;
    width: 70%;
    padding: 8px;
    border: 1px solid $black;
    border-radius: 3%;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-navlist;
    background-color: $background-nav;
    font-weight: bold;
}
